<div layout="column" ng-hide="$ctrl.state.hideHeader">
    <div class="console-header">
        <button class="console-btn-menu console-desktop-hide" ng-click="$ctrl.menu.toggle()">
            <i class="material-icons">menu</i>
        </button>
        <div class="console-btn-menu console-mobile-hide">
            <ng-letter-avatar data="{ProductName}"
                              width="24" height="24" fontSize="12px" shape="round" avatarborder="true"
                              avatarcustombgcolor="#2196F3"></ng-letter-avatar>
        </div>
        <div class="console-title console-bold" layout="row" layout-align="start center">
            {ProductName}
        </div>
        <div flex></div>

        <!-- Dropdown-->
        <div layout="row">
            <console-dropdown class="console-dropdown console-dropdown-right" autoclose="true" ng-class="{'open': show}">
                <button type="button" class="console-btn" ng-click="toggle()">
                    <ng-letter-avatar data="{ProductName}"
                                      width="24" height="24" fontSize="12px" shape="round" avatarborder="true"
                                      avatarcustombgcolor="#2196F3"></ng-letter-avatar>
                </button>
                <ul name="popup" class="console-dropdown-list">
                    <li>
                        <a href="#">
                            <i class="material-icons">account_box</i>
                            <span>Change password</span>
                        </a>
                    </li>
                    <li class="console-divider"></li>
                    <li>
                        <a href="#">
                            <i class="material-icons">lock_open</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </console-dropdown>
        </div>
    </div>
    <!-- :: busy indicator :: -->
    <div class="console-busy"></div>
</div>
