console-accordion {
  .accordion-status-icon {
    transition: transform 200ms ease;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
  }

  .console-accordion-header {
    &.open {
      .accordion-status-icon {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg); /* Standard syntax */
      }
    }
  }

  .console-accordion-body {
    height: auto;
    overflow: hidden;
    max-height: 0;

    &.transition {
      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      -ms-transition: max-height 0.5s;
      -o-transition: max-height 0.5s;
      transition: max-height 0.5s;
    }

    &.open {
      max-height: inherit;
    }
  }
}