<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{CompanyName} Console</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css" />
    <link rel="stylesheet" href="//cdn.obogo.local/hive/css/auth/styles.css">
    <link rel="stylesheet" href="console/styles.css">
</head>
<body layout="column">
<div app></div>
<!-- TODO: For dev only -->
<script src="//localhost:35729/livereload.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

<!-- TODO: Don't use unminified versions -->
<script src="//code.angularjs.org/1.6.2/angular.js"></script>
<script src="//code.angularjs.org/1.6.2/angular-animate.js"></script>
<script src="//code.angularjs.org/1.6.2/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/angular-chosen-localytics/1.4.0/angular-chosen.min.js"></script>

<!--<script src="vendor/require-lite/require-lite.js"></script>-->
<script src="vendor/hive/hive-services.js"></script>
<script src="console/console-templates.js"></script>
<script src="console/console.js"></script>
</body>
</html>