<div layout="column">
    <div class="mobile-password" layout="row" layout-align="start center">
        <div class="console-btn" ng-click="$ctrl.cancel()">
            <i class="material-icons">arrow_back</i>
        </div>
        <form ng-submit="$ctrl.save()" flex layout="row" layout-align="start center">
            <input type="password" placeholder="{{$ctrl.attrs.mobileEditPlaceholder}}"
                   flex class="console-form-password"
                   ng-change="$ctrl.check()"
                   ng-model="$ctrl.value">
        </form>
        <div class="console-btn" ng-click="$ctrl.save()">
            <i class="material-icons console-color-success">check</i>
        </div>
    </div>

    <div ng-if="$ctrl.validate" layout-padding>
        <div class="hint" ng-class="{pass: $ctrl.checkResults.min && $ctrl.checkResults.max, fail: $ctrl.checkResults.checked && !($ctrl.checkResults.min && $ctrl.checkResults.max)}">
            <i class="material-icons"></i>
            Between 8-100 characters
        </div>
        <div class="hint" ng-class="{pass: $ctrl.checkResults.hasUpper, fail: $ctrl.checkResults.checked && !$ctrl.checkResults.hasUpper}">
            <i class="material-icons"></i>
            Contains an UPPERCASE letter
        </div>
        <div class="hint" ng-class="{pass: $ctrl.checkResults.hasLower, fail: $ctrl.checkResults.checked && !$ctrl.checkResults.hasLower}">
            <i class="material-icons"></i>
            Contains a lowercase letter
        </div>
        <div class="hint" ng-class="{pass: $ctrl.checkResults.hasNumber, fail: $ctrl.checkResults.checked && !$ctrl.checkResults.hasNumber}">
            <i class="material-icons"></i>
            Contains a number
        </div>
    </div>
</div>
