//.console-accordion {
//  position: relative;
//  background-color: #eee;
//}

.console-accordion-title {
  background-color: #38cc70;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
}

.console-accordion-item {
  height: auto;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.console-accordion-item.console-is-collapsed {
  max-height: 0;
}

.console-accordion-item.console-is-expanded {
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
