<div flex layout="column">
    <div class="console-subheader">
        <h4>Dashboard</h4>
    </div>

    <div class="console-content console-scrollable" flex layout="column">
        <div class="console-page" layout-padding>

            <console-alert></console-alert>

            <div class="console-panel console-panel-default">
                <div class="console-panel-body">
                    <h4>Dashboard works!!!</h4>
                    <div class="console-spacer"></div>
                    <div class="console-btn console-btn-default" ng-click="$ctrl.showAlert()">Show Alert</div>
                    <div class="console-btn console-btn-default" ng-click="$ctrl.openDialog()">Open Dialog</div>
                    <div class="console-btn console-btn-default console-desktop-hide" ng-click="$ctrl.menu.toggle()">Toggle Menu</div>

                    <console-account></console-account>
                </div>
            </div>
        </div>

        <div flex></div>

        <console-footer></console-footer>
    </div>
</div>