<div class="console-subheader">
    <h4>Dashboard</h4>
</div>

<div class="console-content console-scrollable" flex layout="column">
    <div class="console-page" layout-padding>

        <div class="console-alert console-alert-dismissible console-alert-success">
            <button class="console-close">×</button>
            This is a inline success message.
        </div>

        <div class="console-panel console-panel-default">
            <div class="console-panel-body">
                <h4>Dashboard works!!!</h4>
                <div class="console-spacer"></div>
                <div class="console-btn console-btn-default" ng-click="openDialog()">Open Dialog</div>
                <div class="console-btn console-btn-default" ng-click="menu.toggle()">Toggle Menu</div>
            </div>
        </div>
    </div>

    <div flex></div>

    <console-footer></console-footer>
</div>
