<div class="console-subheader">
    <h4>Dashboard</h4>
</div>

<div class="console-content console-scrollable" flex layout="column">
    <div class="console-page" layout-padding>

        <div class="console-alert console-alert-dismissible console-alert-success">
            <button class="console-close">×</button>
            Registration successful. You may now login with the username and password you registered with.
        </div>

        <div class="console-panel console-panel-default">
            <div class="console-panel-body">
                <h4>Dashboard works!!!</h4>
            </div>
        </div>
    </div>

    <div flex></div>

    <console-footer></console-footer>
</div>
