<div flex layout="column">
    <div class="console-subheader">
        <h4>About</h4>
    </div>

    <div class="console-content console-scrollable" flex layout="column">
        <div class="console-page" layout-padding>

            <div class="console-alert console-alert-dismissible console-alert-success">
                <button class="console-close">
                    <i class="material-icons">close</i>
                </button>
                This is a inline success message.
            </div>

            <div class="console-panel console-panel-default">
                <div class="console-panel-body">
                    <h4>About works!!!</h4>
                </div>
            </div>
        </div>

        <div flex></div>

        <console-footer></console-footer>
    </div>
</div>
