<div class="popup-panel">
    <div class="panel-popup--triangle"></div>
    <div class="panel-popup--box md-whiteframe-5dp" style="width: 300px">
        <div layout="row" layout="center center" style="padding: 10px;">
            <ng-letter-avatar data="{{$ctrl.user.profile.displayName}}" dynamic="true" shape="round" width="48" height="48"></ng-letter-avatar>
            <div class="console-spacer"></div>
            <div layout="column" layout-align="center start">
                <div style="font-weight: bold;">{{$ctrl.user.profile.displayName}}</div>
                <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 150px;line-height: 16px">{{$ctrl.user.profile.email}}</div>
                <!--<div style="height: 15px;"></div>-->
                <!--<a class="panel-popup&#45;&#45;primary-btn console-native-hide" ng-click="$ctrl.gotoMyHiveAccount()">My Account</a>-->
            </div>
        </div>
        <div class="mdl-divider"></div>
        <div layout="row" style="padding: 10px;background: #f5f5f5">
            <!--<a class="panel-popup&#45;&#45;secondary-btn disabled console-native-hide">Add account</a>-->
            <div flex></div>
            <a class="panel-popup--secondary-btn" ng-click="$ctrl.logout()">Sign out</a>
        </div>
        <div class="mdl-divider"></div>
        <div class="console-native-hide" style="color: #999999;padding: 10px;background: #f5f5f5;text-align: center;box-sizing: border-box">
            Managed by Certiport
        </div>
    </div>
</div>