<div class="console-app console-main" layout="column">

    <!-- :: header :: -->
    <console-header></console-header>

    <!-- :: busy indicator :: -->
    <div class="console-busy"></div>

    <div class="console-body" flex layout="row">

        <!-- :: menu :: -->
        <console-menu></console-menu>

        <!-- :: pages :: -->
        <ui-view flex layout="column" class="anim-in-out" data-anim-speed="500" data-anim-sync="true"></ui-view>

    </div>

    <!-- :: menu backdrop :: -->
    <div ng-if="menu.show" ng-click="menu.close()" class="console-menu-backdrop console-desktop-hide"></div>

    <!-- :: dialogs container :: -->
    <console-dialog></console-dialog>
</div>