<div class="console-app console-main " layout="column">

    <!-- :: header :: -->
    <console-header></console-header>

    <div flex layout="row">

        <!-- :: menu :: -->
        <console-menu></console-menu>

        <div class="console-body" view-transition flex>
            <!-- :: pages :: -->
            <ui-view></ui-view>
        </div>

    </div>

    <!-- :: menu backdrop :: -->
    <div ng-show="app.menu.show" ng-click="app.menu.close()" class="console-menu-backdrop console-desktop-hide"></div>

    <!-- :: dialogs container :: -->
    <console-dialog></console-dialog>
</div>