<div class="console-menu console-smooth console-scrollable" ng-class="{'console-menu-open': menu.show}">
    <div class="console-menu-header" flex-layout="row" flex-align="start center">
        <div>Menu Header</div>
        <div flex></div>
        <i class="material-icons console-desktop-hide" ng-click="menu.close()">close</i>
    </div>
    <a ui-sref="dashboard" ui-sref-active="console-menu-item-active" class="console-menu-item">Dashboard</a>
    <a ui-sref="about" ui-sref-active="console-menu-item-active" class="console-menu-item console-menu-subitem">About</a>
    <a class="console-menu-item">Sample Pages Templates</a>
    <a ui-sref="samples" ui-sref-active="console-menu-item-active" class="console-menu-item console-menu-subitem">Master</a>
    <a ui-sref="sample({id: 1})" ui-sref-active="console-menu-item-active" class="console-menu-item console-menu-subitem">Details</a>
    <div flex></div>
</div>