<div class="console-menu console-smooth console-menu-open console-scrollable">
    <div class="console-menu-header">My Account</div>
    <div class="console-menu-subheader">Welcome</div>
    <div class="console-menu-subheader">Sign-in &amp; Security</div>
    <a ui-sref="dashboard" ui-sref-active="console-menu-item-active" class="console-menu-item">Device activity</a>
    <a ui-sref="dashboard" ui-sref-active="console-menu-item-active" class="console-menu-item">Notifications</a>
    <a ui-sref="accounts" ui-sref-active="console-menu-item-active" class="console-menu-item">Subscriptions</a>
    <div class="console-menu-subheader">Personal info &amp Privacy</div>
    <a ui-sref="players" ui-sref-active="console-menu-item-active" class="console-menu-item">Your personal info</a>
    <div class="console-menu-subheader">Account preferences</div>
    <a ui-sref="accounts" ui-sref-active="console-menu-item-active" class="console-menu-item">Language & Input Tools</a>
    <a ui-sref="accounts" ui-sref-active="console-menu-item-active" class="console-menu-item">Delete your account or services</a>
    <div class="console-menu-subheader">About AccountHive</div>
    <div class="console-menu-subheader">Privacy Policy</div>
    <div class="console-menu-subheader">Help and Feedback</div>


    <div flex></div>

</div>