<div class="console-menu console-smooth console-scrollable" ng-class="{'console-menu-open': $ctrl.menu.show}">
    <div class="console-menu-header" flex-layout="row" flex-align="start center">
        <div>Menu Header</div>
        <div flex></div>
        <i class="material-icons console-desktop-hide" ng-click="$ctrl.menu.close()">close</i>
    </div>
    <a ui-sref="login" ui-sref-active="console-menu-item-active" class="console-menu-item">Login</a>
    <a ui-sref="dashboard" ui-sref-active="console-menu-item-active" class="console-menu-item">Dashboard</a>
    <a ui-sref="about" ui-sref-active="console-menu-item-active" class="console-menu-item console-menu-subitem">About</a>
    <a class="console-menu-item">Sample Pages Templates</a>
    <a ui-sref="samples" ui-sref-active="console-menu-item-active" class="console-menu-item console-menu-subitem">Master</a>
    <a ui-sref="sample({id: 1})" ui-sref-active="console-menu-item-active" class="console-menu-item console-menu-subitem">Details</a>
    <div flex></div>

    <!-- Help-->
    <a href="#" target="_blank" class="console-menu-item"
       layout="row" layout-align="start center">
        <span>Help and Feedback</span>
        <div flex></div>
        <i class="material-icons small">open_in_new</i>
    </a>

    <!-- Menu Button -->
    <a ui-sref="about" ui-sref-active="console-menu-item-active" class="console-btn console-btn-primary env-hide">Menu button</a>

</div>